body {
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    height: 100px;

}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    background-color: #0f0;
    display: flex;
    align-items: center;

}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;

}


nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}